//Light mode- body:$gray, btn:$very_dark,btnbg:$vivid_blue, btnbghover:$strong_blue, title:$very_dark,paragraph:$very_dark_grayish_blue, text:$very_dark_grayish_blue,

//dark mode- body:$very_dark, btn:$white,btnBorder:$white, btnbg:$transparent, btnbghover:$white, title:$white,paragraph:$gray, text:$gray,


$transparent : transparent;
$white : #ffffff;
$gray:#f9f9f9;
$very_dark: #202124;
$very_dark_gray:#696969;
$very_dark_grayish_blue:#4a4e51;
$light_grayish_blue:#f5f6fa;
$vivid_blue:#0ea5e9;
$strong_blue:#0d94d1;

/* common styles */
